.mode-selector {
    display: flex;
    flex-direction: column;
}

.mode-wrapper {
    border: 3px solid white;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(215, 215, 215);
    padding:5px;
    color: rgb(41, 41, 41);
}

.mode-title-wrapper {
    font-size: 18px;
    font-family:'Orbitron', sans-serif;
}

.major-title {
    font-size: 24px;
    font-family:'Orbitron', sans-serif;
}

.major-panel {
    display: flex;
    flex-direction: column;
    margin-top:72px;
}

.minor-title {
    font-size: 24px;
    font-family:'Orbitron', sans-serif;
}

.minor-panel {
    display: flex;
    flex-direction: column;
}

.mode-button {
    all: unset;
    border: 3px solid white;
    width: 200px;
    height: 75px;
    border-radius: 30px;
    font-family:'Orbitron', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    vertical-align: bottom;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(225, 225, 225);

}

.mode-button:hover {
    outline: 3px solid rgba(166, 255, 0, 0.2);
}