
.root-selector-title {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 18px;
    color: rgb(41, 41, 41);
    font-family:'Orbitron', sans-serif;
    position:absolute;
    margin-left: 10px;
    margin-top: 40px;
}

.root-wrapper {
    border: 3px solid white;
    border-radius:20px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(215, 215, 215);
    color: rgb(41, 41, 41);
    padding: 5px;
}

.root-button-container {
    padding-left: 40px;
}

.root-button {
    all: unset;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-family:'Orbitron', sans-serif;
    color: rgb(41, 41, 41);
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    vertical-align: bottom;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(225, 225, 225);
}
.root-button:hover {
    outline: 3px solid rgba(166, 255, 0, 0.5);
}
.root-button:active {
    background-color: #a6ff0080;
}

.root-button-sharp {
    all: unset;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-family:'Orbitron', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 75px;
    vertical-align: top;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(200, 200, 200);
}
.root-button-sharp:hover {
    outline: 3px solid rgba(166, 255, 0, 0.5);
}
.root-button-sharp:active {
    background-color: rgba(166, 255, 0, 0.5);
}