
.indicator-panel {
    display:flex;
    flex-direction: row;
    border-radius:20px;
    font-family:'Orbitron', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    margin-left: -200px;
}

.scale-wrapper {
    border: 6px solid white;
    width: 100px;
    height:auto;
    border-radius:20px;
    font-family:'SixtyFour', sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(37, 37, 37);
    padding: 5px;
    margin-top:30px;
    margin-right: 100px;
    margin-left: 25px;
    color: white;
}

.piano-wrapper {
    width: 575px;
    height:250px;
    border-radius:20px;
    font-family:'Orbitron', sans-serif;
    font-size: 20px;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: -150px
}

.mute-button {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(225, 225, 225);
    border: 3px solid white;
    font-family: 'Orbitron', 'sans-serif';
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
}

.octave-wrapper {
    border: 6px solid white;
    width: 75px;
    height:75px;
    border-radius:20px;
    font-family:'SixtyFour', sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(37, 37, 37);
    padding: 5px;
    margin-top:0px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.settings-panel {
    margin-top: 0px;
    display:flex;
    flex-direction: column;
    font-family:'Orbitron', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.pattern-title-wrapper {
    display:flex;
    flex-direction: row;
    font-family:'Orbitron', sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.octave-settings-panel {
    display:flex;
    flex-direction: row;
    font-family:'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.octave-arrow-button {
    height: 50px;
    width: 30px;
    border-radius: 5px;
    font-family: "Orbitron", "sans-serif";
    color: rgb(41, 41, 41);
    font-size: 32px;
    padding-top: 0px;
    padding-left: 5px;
    background-color: rgb(225,225,225);
    border: 3px solid white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
}

.bpm-settings-panel {
    display:flex;
    flex-direction: row;
    font-family:'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bpm-arrow-button {
    height: 50px;
    width: 30px;
    border-radius: 5px;
    font-family: "Orbitron", "sans-serif";
    color: rgb(41, 41, 41);
    font-size: 32px;
    padding-top: 0px;
    padding-left: 5px;
    background-color: rgb(225,225,225);
    border: 3px solid white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
}

.bpm-wrapper {
    border: 6px solid white;
    width: 75px;
    height:75px;
    border-radius:20px;
    font-family:'SixtyFour', sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(37, 37, 37);
    padding: 5px;
    margin-top:0px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.pattern-settings-panel {
    display:flex;
    flex-direction: row;
    font-family:'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pattern-button {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(225, 225, 225);
    border: 3px solid white;
    font-family: 'Orbitron', 'sans-serif';
    margin: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
}